---
layout: page
title: Our team
permalink: /team/
group: navigation
weight: 1
---

<p><a class="btn btn-lg btn-success btn-block editor-link" href="cloudcannon:collections/_data/team.yml">Add/edit team members</a></p>

{% assign collection = site.data.team | sort: "name" %}

<div class="row our-members">
  <div class="col-lg-12">
  {% for item in collection %}
    <div class="row member">
      <div class="col-xs-2">
        <div class="profile-image" style="background-image:url({{ item.profile_image_path }});"></div>
      </div>
      <div class="col-xs-8">
        <h5 class="no-spacing"><strong>{{ item.name }}</strong></h5>
        <ul>
          {% if item.contactTitle %}<li>{{ item.contactTitle }}</li>{% endif %}
          {% if item.title %}<li class="uc">{{ item.title }}</li>{% endif %}
          {% if item.phoneOffice %}<li class="uc">{{ item.phoneOffice }}</li>{% endif %}
          {% if item.email %}<li><i class="fa fa-envelope"></i> <a href="mailto:{{ item.email }}">{{ item.email }}</a></li>{% endif %}
        </ul>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<p><a class="btn btn-lg btn-success btn-block editor-link" href="cloudcannon:collections/_data/team.yml">Add/edit team members</a></p>
