<aside class="sidebar-left-inner">
    <header>
      <div class="row">
        <a href="/">
          <div class="col-xs-8 col-sm-12 logo">
            <img src="/images/seeralogo.jpg" alt="Seera Networks logo" />
          </div>
        </a>
        <div class="col-xs-4 visible-xs text-right">
          <a href="javascript:void(0)" class="mobile-nav"><i class="fa fa-bars"></i></a>
        </div>
    </header>

  <ul class="nav">
    {% for item in site.data.nav %}
      {% if item.url == "network" %}
        <li class="accordion" {% if page.layout == 'category' %}class="active"{% endif %}>
          <a class="accordion-toggle{% if page.layout == 'category' %} active{% endif %}" href="javascript:void(0);">Networking companies <span class="chevron"></span></a>
          <div class="accordion-content {% if page.layout == 'category' %}active{% endif %}">
            <ul>
              {% assign primary_categories = site.data.networkcategories %}
              {% for category in primary_categories %}

                {% assign categoryTitle = category.title | downcase | replace:" ","" %}

                <li class="accordion {% if category.title == page.title %}active{% endif %}">
                  <a class="accordion-toggle{% if page.category == categoryTitle %} active{% endif %}">{{ category.title }} <span class="chevron"></span></a>
                  <ul class="accordion-content {% if page.category == categoryTitle %}active{% endif %}">
                    tester2
                    {% for subcategory in site.networkcategories %}
                      test: {{ subcategory }}
                      {% if subcategory.category == categoryTitle %}
                        <li {% if subcategory.title == page.title %}class="active"{% endif %}><a href="{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% else %}
        <li {% if page.url == item.url %}class="active"{% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <p><a class="btn btn-lg btn-success btn-block editor-link" href="cloudcannon:collections/_data/nav.yml">Add/edit nav</a></p>
</aside>
