---
layout: default
title: News
permalink: /news/
group: navigation
weight: 7
---

<p><a class="btn btn-lg btn-success btn-block editor-link" href="cloudcannon:collections/_news/">Add/edit news</a></p>

{% if site.news.length > 0 %}
  <div class="row">
    <div class="col-lg-8">
      <ul class="posts">
      {% for post in site.news %}
        <li>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {{ post.excerpt }}
          {% assign postFilename = post.url | replace: '/', '' | replace: 'posts', '' | replace: '.html', '.md' %}
          {{postFilename}}
          <a class="btn btn-warning editor-link" href="cloudcannon:collections/_news/{{ post.date | date: '%Y-%m-%d'}}-{{ postFilename }}.md">Edit post</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
<h2>There are currently no news</h2>
{% endif %}

<p><a class="btn btn-lg btn-success btn-block editor-link" href="cloudcannon:collections/_news/">Add/edit news</a></p>

<!-- test -->
