.partner-category-group-name{
  border-bottom: 1px solid $white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 0.6;
  text-align: left;
}

.partner-category-group{
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px;
  text-align: left;

  a{
    color: $white;
  }

  .partner{
    box-shadow: #232323 5px 5px 5px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    background-color: $white;
    border-left-width: 25px;
    border-left-style: solid;

    a, &{
      color: $black;
    }

    .partner-image{
      max-height: 70px;
      max-width: 250px;
    }

    &:hover{
      .partner-bg{
        opacity: 0.05;
      }
    }

    .partner-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0;
      top: 0;
    }

    .partner-title{
      margin: 0 0 10px;
    }

    .partner-ctas{
      margin-top: 15px;

      .partner-cta-email{
        text-transform: uppercase;
      }
    }

    // for very light partner colors
    &.darken-colors{
      &:hover .partner-bg{
        opacity: 0.3 !important;
      }
      .partner-cta-email{
        span{
          color: $black !important;
        }
      }
    }

    ul{
      padding-left: 0;
      list-style-type: none;
    }

    q{
      font-size: 1.2em;
      font-style: italic;
      font-weight: 100;
      color: darken($white, 5%);
    }
  }
}


.member,
.team-member{
  margin-bottom: 15px;
  float: left;
  min-height: 113px;
  .profile-info{
    float: left;
    max-width: calc(100% - 165px);
  }
  .profile-image{
    margin-right: 15px;
    height: 110px;
    width: 150px;
    float: left;
    background-color: $white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  ul{
    padding: 0;
    list-style-type: none;
    li{

    }
  }
}

.our-members{
  margin-top: 60px;
}

.members-subnav{
  background-color: $white;
  position: absolute;
  z-index: 99;
  padding: 10px;
  &.fixed{
    position: fixed;
    top: 0;
  }
  a{
    color: $brand-primary;
  }
}

.team-member{
  width: 100%;
  .profile-image{
    height: 300px;
    width: 300px;
  }
}

.member{
  width: 100%;

  @media (min-width: $screen-md){
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
