// HOME
.page-home{
  background: url('/images/shutterstock_402916264.jpg') 0 0 no-repeat;
  background-size: cover;
  .main-wrapper{
    background: none;
  }
  .overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    z-index: 2;
    @include gradient-horizontal($start-color: rgba($black,.5), $end-color: rgba($black,.0001));

    @media (min-width: $screen-md){
      display: block;
    }
  }

  .intro-paragraph{
    margin-left: 400px;
    margin-right: 200px;
    margin-top: 50px;
  }

  .home-footer-text{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

  .seera-logo-blue{
    display: none;
  }

  &.mobile-nav-expanded{
    .seera-logo-white{
      display: none;
    }
    .seera-logo-blue{
      display: block;
    }
  }

  .main-wrapper{
    flex: 0 0 100%;
  }

  .sidebar-left{
    position: absolute;
    z-index: 3;
    background: rgba($white, 0);
    .sidebar-left-inner .nav li a{
      font-size: 1.8rem;
      color: $white;
      &:hover{
        color: $brand-primary;
      }
    }
    .sidebar-left-inner .accordion-toggle.active,
    .sidebar-left-inner .accordion .accordion.active > a{
      color: $brand-primary;
    }
  }
}


// CONTACT
.contact-email{
  font-weight: 600;

  @media (min-width: $screen-sm){
    font-size: 1.4em;
  }
}


// TESTIMONIALS
.testimonials{
  blockquote{
    border-left: 0;
    font-style: italic;
  }

  footer{
    color: #e8e8e8;
    margin-top: 5px;
    display: block;
    opacity: 0.8;
  }
}

// BLOG PAGE
.posts{
  padding-left: 0;
  list-style-type: none;

  li{
    border-top: 1px solid $white;
    padding: 0 0 15px;
  }
}

// POST PAGE
.post-content{
  margin-top: 0;
  margin-bottom: 40px;
}


.page-our-story{
  #our-story-profile{
    margin-bottom: 30px;
    margin-right: 30px;
    float:left;
    width: 50%;
  }
}


.page-team{
  .profile-info,
  .profile-info h5{
    font-size: 2rem;
  }
}

.page-contact{
  .well{
    font-size: 1.8rem;
  }
}

.page-form-page{
  .page-intro{
    margin-bottom: 30px;
  }
  .footer-images{
    margin-top: 60px;
    img{
      width: 100%;
    }
  }
  .top-note{
    position: absolute;
    top: 60px;
    right: 30px;
    max-width: 300px;
  }
}
