.mobile-nav-content{
  position: absolute;
  opacity: 0;
  top: -100vh;
  background-color: $white;
  width: 100%;
  text-align: center;
  padding-top: 105px;
  z-index: 3;
  @include transition((top 0.2s, opacity 0.2s));

  ul{
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px;

    li{
      padding-top: 15px;
      a{
        font-size: 2rem;
      }
    }
  }
}

body.mobile-nav-expanded{
  .mobile-nav-content{
    opacity: 1;
    top: 0;
  }
}

.sidebar-left{
  background-color: $white;
  width: 100%;

  @media(min-width: $screen-md){
    &, .container{
      width: auto;
    }
    overflow-y: auto;
  }

  header{
    height: 80px;
  }
}

.sidebar-left-inner{
  padding: 10px 0px;

  @media(min-width: $screen-md){
    position: fixed;
    height: 100vh;
  }

  @media(min-width: $screen-lg){
    padding: 20px 25px;
  }

  .container{
    width: 100%;
  }

  .logo{
    position: relative;
    z-index: 9;
    @media(min-width: $screen-sm){
      // text-align: center;
    }

    .seera-logo-white,
    .seera-logo-blue{
      position: absolute;
    }

    h1, h2{
      color: $sapphire;
      margin: 0;
    }

    h1{
      font-size: 4em;
      font-weight: 100;

      @media(max-width: $screen-sm){
        font-size: 3em;
      }

      @media(min-width: $screen-sm) and (max-width: $screen-md){
        font-size: 3em;
      }
    }

    h2{
      font-size: 1em;
      text-transform: uppercase;

      @media(max-width: $screen-sm){
        font-size: 0.75em;
      }

      @media(min-width: $screen-sm) and (max-width: $screen-md){
        font-size: 0.75em;
      }
    }
  }

  .nav{
    margin: 30px 0;

    @media(max-width: $screen-md){
      display: none;
    }

    li{
      text-transform: uppercase;
      @include user-select(none);

      a{
        color: $sapphire;
        display: block;
        padding: 10px;
      }

      // sub nav
      ul{
        list-style-type: none;
        padding-left: 15px;

        .accordion-toggle.active{
          color: $sapphire;
        }

        &.active{
          li a{
            color: $sapphire;
          }
        }

        li a{
          color: $black;
          &:hover{
            background-color: #f8f8f8;
          }
        }
      }
    }
    li.active{
      background-color: #eee;
      > a{
        color: $sapphire;
        font-weight: 600;
      }
    }
  }
}

.mobile-nav{
  font-size: 3em;
  line-height: 60px;
  position: relative;
  z-index: 9;
}

@media (max-width: $screen-sm){
  .sidebar-left-inner .nav{
    font-size: 1.3em;
    font-weight: 600;
  }
}
